<!DOCTYPE html>
<html>
<!-- jQuery 3 -->
<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!--<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/js/bootstrap.js"></script>-->

<script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/spin.js/2.0.1/spin.min.js'></script>
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
<script  type="text/javascript" src="dist/js/d3.v4.min.js"></script>
<script type="text/javascript" src="dist/js/visualization.js"></script>
<script type="text/javascript" src="dist/js/motvis.js"></script>
<script type="text/javascript" src="dist/js/table.js"></script>
<script type="text/javascript" src="dist/js/FileSaver.min.js"></script>
<script type="text/javascript" src="dist/js/gauge.js"></script>
<script type="text/javascript" src="dist/js/TreeColors.js"></script>
<script type="text/javascript" src="dist/js/barplot.js"></script>


<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title th:text="${name}"></title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <!-- Bootstrap 3.3.7 -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">

  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- Ionicons -->
  <!-- Theme style -->
  <link rel="stylesheet" href="dist/css/style.css">
    <link rel="stylesheet" href="dist/css/motvis.css">
  <!-- AdminLTE Skins. Choose a skin from the css/skins
       folder instead of downloading all of them to reduce the load. -->
  <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
  <!-- Google Font -->
  <link href="https://fonts.googleapis.com/css?family=Raleway|Roboto" rel="stylesheet">
</head>
<body>

	<div class="row content">
<div class="col-xs-12 col-md-12"
		<!-- Scrollable div with main content -->
		<div class="row" >
			<div class="col-xs-12 col-md-12" style="overflow: hidden">
				<div class="pageClass" id="VisualizePage">
					<h1>
						Annotation results  <span style="font-size:14px;"><i>Powered by </i><a href="https://gsan.labri.fr">GSAn</a> </span>
					</h1>
					<div class="row">
						<div id="gauge" class="col-xs-12 col-lg-3">
						<H2>Charts</H2 >
							<div class="row">
								<div class="col-xs-6">
									<H4 style="text-align: center">Percentage of genes with annotations</H4>
								</div>
								<div class="col-xs-4 col-lg-6">
									<div id="recoverGenes"></div>
								</div>
								<div class="col-xs-12 rg">

								</div>
							</div>
							<div class="row">
								<div class="col-xs-6">
									<H4 style="text-align: center">Percentage of genes annotated with GSAn</H4>
								</div>
								<div class="col-xs-4 col-lg-6" style="vertical-align:middle;">
									<div id="recoverAnnotGenes"></div>
								</div>
								<div class="col-xs-12 rag">

								</div>
							</div>

							<!--	<div class="row">
			<div class="col-sm-6">
				<H4 style="text-align:center;height:100px ;display: table-cell; vertical-align: middle;">Percentage term reduced</H4>
			</div>
			<div class="col-sm-6">
					<div id="reduce" style="width:100%;height:100px; display: table-cell;vertical-align: middle; "></div>
		</div>
	</div>-->

							<div class="row">
								<div class="col-xs-6">
									<H4 style="text-align: center;">Gene set similarity
										(GS&sup2;)</H4>
								</div>
								<div class="col-xs-4 col-lg-6">
									<div id="gs2"></div>
								</div>
								<div class="col-xs-12 gs2">

								</div>
							</div>

						</div>
						<div id="barplot" class="col-xs-12 col-sm-12 col-md-12 col-lg-9" style="vertical-align:middle;">
							<H2>Synthetic annotation</H2>
							<br>
							<br>
						</div>
					</div>

					<!--	<div class="table-toogle">
				<table class="table table-striped">
					<tr>
						<td>Table</td>
						<td>Bubble Chart (BETA)</td>
					</tr>
				</table>

			</div>-->
					<div class="row">
					<div class="col-xs-6" style="background-color: #555;margin:0px;padding-right: 0px;padding-left: 0px;"><button class="tablink"
							onclick="openCity('tableResult', this, '#999999')"
							id="defaultOpen">Table</button></div>
						<div class="col-xs-6" style="background-color: #555;margin:0px;padding-right: 0px;padding-left: 0px;">
						<button class="tablink"
							onclick="openCity('tableVisu', this, '#999999')">Combined tree visualization</button>
							</div>
					</div>
<div class="row">
<div class="col-xs-12" style="padding-right: 10px;">
					<div class="table-container" id="tableResult">

						<script>
							$(document).ready(
									function() {
										var table = $('#tableRep').DataTable();
										table.order([ 5, 'desc' ],
												[ 3, 'desc' ]).draw();
									});
						</script>
</div>
</div>
		<div class="col-xs-12" style="padding-right: 0px;padding-top: 15px;" >


					<div class="table-container" id="tableVisu" style="display: inline-block;height:800px;">
					<!--	<div id="boxes">
							<label>
								<input type="checkbox" class="selection" value=1  name="ids" checked="checked"/> All</label>
							<label>
								<input type="checkbox" class="selection" value=0 name="ids" /> Synthetic</label>
        	</div>-->
						<div id="motvis"  style="display: inline-block;">

						<div id="treeHIDDEN">
							<div id="tree"></div>
						</div>
						<div id="circular">
						<div id="tooltip"></div>
						<form id="svgform" method="post" action="download.pl">
						 <input type="hidden" id="output_format" name="output_format" value="">
						 <input type="hidden" id="data" name="data" value="">
						</form>
						<button class="btn btn-success" id="save_as_svg" value="">
									Save as SVG</button>
								<button class="btn btn-success" id="save_as_pdf" value="">
									Save as PDF</button>
								<button class="btn btn-success" id="save_as_png" value="">
						Save as High-Res PNG</button>
						</div>

					</div>
				</div>




			</div>
			</div>
		</div>
<br><br><br><br><br><br><br>



</div>

		<script th:inline="javascript">
			var jobj;
			/*<![CDATA[*/

			var message = /*[[${json}]]*/'default';
			jobj = JSON.parse(message);
			//console.log(jobj.tree);
			visual(jobj);
			/*]]>*/

			$(".btnJSON").click(function() {
				var a = document.createElement("a");
				document.body.appendChild(a);
				a.style = "display: none";
				var json = JSON.stringify(jobj), blob = new Blob([ json ], {
					type : "application/json"
				}), url = window.URL.createObjectURL(blob);
				a.href = url;
				a.download = "GSAn_result.json";
				a.click();
				window.URL.revokeObjectURL(url);
			});

			$(".btnCsv").click(function() {
				var data, filename, link;
				var csv = convertArrayOfObjectsToCSV(jobj);
				if (csv == null)
					return;

				filename = 'GSAn_result.csv';

				if (!csv.match(/^data:text\/csv/i)) {
					csv = 'data:text/csv;charset=utf-8,' + csv;
				}
				data = encodeURI(csv);

				link = document.createElement('a');
				document.body.appendChild(link);
				link.style = "display: none";
				link.setAttribute('href', data);
				link.setAttribute('download', filename);
				link.click();
			});

      $("#save_as_svg").click(function() { submit_download_form("svg"); });
      $("#save_as_pdf").click(function() { submit_download_form("pdf"); });
      $("#save_as_png").click(function() { submit_download_form("png"); });

      function submit_download_form(output_format)
      {
      	// Get the d3js SVG element
      	var tmp = document.getElementById("ex1");
      	var svg = tmp.getElementsByTagName("svg")[0];
      	// Extract the data as SVG text string
      	var svg_xml = (new XMLSerializer).serializeToString(svg);
      	// Submit the <FORM> to the server.
      	// The result will be an attachment file to download.
      	var form = document.getElementById("svgform");
      	form['output_format'].value = output_format;
      	form['data'].value = svg_xml ;
      	form.submit();
      }
			function convertArrayOfObjectsToCSV(data) {
				var result, ctr, keys, columnDelimiter, lineDelimiter;

				var genes = data.GeneSet;
				var representative = data.representatives;
				var scp = data.scp;
				var dic = data.terms;

				var h = ["GOID","Name","Ontology","IC","Covered_genes","Synthetic", "Genes" ], r = [];
				representative.forEach(function(x) {
					//console.log(dic[x]);
					var cells = {};
					cells[h[0]] = x;
					cells[h[1]] = '"' + dic[x].name + '"';
					cells[h[2]] = dic[x].onto;
					cells[h[3]] = Math.floor(dic[x].IC * 100) / 100;
					cells[h[4]] = dic[x].geneSet.length;
					if (scp.includes(x)) {
						cells[h[5]] = true;
					} else {
						cells[h[5]] = false;
					}

					cells[h[6]] = dic[x].geneSet.join(";");
					r.push(cells);
				});

				columnDelimiter = ',';
				lineDelimiter = '\n';

				keys = Object.keys(r[0]);

				result = '';
				result += keys.join(columnDelimiter);
				result += lineDelimiter;

				r.forEach(function(item) {
					ctr = 0;
					keys.forEach(function(key) {
						if (ctr > 0)
							result += columnDelimiter;

						result += item[key];
						ctr++;
					});
					result += lineDelimiter;
				});

				return result;
			}
		</script>

		<script>
			function openCity(chooseCont, elmnt, color) {
				var i, tabcontent, tablinks;
				tabcontent = document.getElementsByClassName("table-container");
				for (i = 0; i < tabcontent.length; i++) {
					tabcontent[i].style.display = "none";
				}
				tablinks = document.getElementsByClassName("tablink");
				for (i = 0; i < tablinks.length; i++) {
					tablinks[i].style.backgroundColor = "";
				}
				document.getElementById(chooseCont).style.display = "block";
				elmnt.style.backgroundColor = color;

			}
			// Get the element with id="defaultOpen" and click on it
			document.getElementById("defaultOpen").click();
		</script>
	</div>
</body>
</html>
